.main {
  width: 50%;
  margin: auto;
}
.open {
  display: block;
}

.close {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 90%;
  label {
    margin: 0px 0 5px 0;
    line-height: 1.5rem;
  }
  input {
    margin: 5px 0 10px 0;
    line-height: 1.5rem;
  }
  button {
    margin: 20px 0;
    line-height: 2rem;
  }
  p {
    margin-top: 0;
    font-size: 12px;
    b {
      cursor: pointer;
    }
  }
}
